<a href="https://colab.research.google.com/github/Rutuja2610647/Python_Project/blob/main/IMDb_Movie_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Step 1: Import libraries
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# Step 2: Sample mock HTML (replace this with real response.text when using requests)
html = '''
<table class="chart full-width" data-caller-name="chart-top250movie">
    <tbody>
        <tr>
            <td class="titleColumn">
                1.
                <a href="/title/tt0111161/">The Shawshank Redemption</a>
                <span class="secondaryInfo">(1994)</span>
            </td>
            <td class="ratingColumn imdbRating">
                <strong title="9.2 based on 2,700,000 user ratings">9.2</strong>
            </td>
        </tr>
        <tr>
            <td class="titleColumn">
                2.
                <a href="/title/tt0068646/">The Godfather</a>
                <span class="secondaryInfo">(1972)</span>
            </td>
            <td class="ratingColumn imdbRating">
                <strong title="9.1 based on 1,900,000 user ratings">9.1</strong>
            </td>
        </tr>
    </tbody>
</table>
'''

In [4]:
# Step 3: Parse HTML using BeautifulSoup
soup = BeautifulSoup(html, "html.parser")
movies_table = soup.find("table", class_="chart")

In [5]:
# Step 4: Extract movie data
movies = []
for row in movies_table.find_all("tr"):
    title_column = row.find("td", class_="titleColumn")
    rating_column = row.find("td", class_="ratingColumn imdbRating")

In [6]:
if title_column and rating_column:
        rank = title_column.get_text(strip=True).split('.')[0]
        title = title_column.find("a").text
        year = title_column.find("span").text.strip("()")
        rating = rating_column.find("strong").text
        movies.append({"Rank": int(rank), "Title": title, "Year": int(year), "Rating": float(rating)})

In [7]:

# Step 5: Store in CSV using pandas
df = pd.DataFrame(movies)
df.to_csv("imdb_top_movies.csv", index=False)

In [8]:
# Step 6: Display the result
print(df)

   Rank          Title  Year  Rating
0     2  The Godfather  1972     9.1

In [9]:
import requests

url = "https://www.imdb.com/chart/top"
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
html = response.text